.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.playbtn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8),
    -4px -4px 10px rgba(255, 255, 255, 0.4),
    inset -4px -4px 10px rgba(0, 0, 0, 0.4),
    inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #ffce00;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.skipbtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
