.app {
  background-color: #e71d36;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@media (min-width: 100px) and (max-width: 700px) {
  .app {
    background-color: yellow;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}
